<footer id="footer-part">
  <div class="footer-top pt-40 pb-70">
    <div class="container">
      <div class="row align-content-center align-items-center">
        <div class="col-lg-4 col-md-6">
          <div class="footer-about mt-40">
            <div class="logo">
              <a href="#"><img src="/images/logo.png" alt="Logo" /></a>
            </div>
            <p>
              Our vision, at Real Estate Traning Institute (RERA), is to empower the brokers with world-class training and provide them the license of the Pakistan Real Estate Agency (PRERA).
            </p>
            <ul class="mt-20">
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="footer-link mt-40">
            <div class="footer-title pb-25">
              <h6>Quick Links</h6>
            </div>
            <ul>
              <li>
                <a href="/"><i class="fa fa-angle-right"></i>Home</a>
              </li>
              <li>
                <a href="/about"
                  ><i class="fa fa-angle-right"></i>About us</a
                >
              </li>
              <li>
                <a href="/courses"
                  ><i class="fa fa-angle-right"></i>Courses</a
                >
              </li>
              <li>
                <a href="/register"
                  ><i class="fa fa-angle-right"></i>Register</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-address mt-40">
            <div class="footer-title pb-25">
              <h6>Contact Us</h6>
            </div>
            <ul>
              <li>
                <div class="icon">
                  <i class="fa fa-home"></i>
                </div>
                <div class="cont">
                  <p>Office No. 77, Las Vegas, Nevada.</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="cont">
                  <p>+92 3005025056</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fa fa-envelope-o"></i>
                </div>
                <div class="cont">
                  <p>ahmadbunny1@gmail.com</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright pt-10 pb-25">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="copyright text-center pt-15">
            <p>Copyright &copy; PREI. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
