<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>PREI - Pakistan Real Estate Institute</title>

    <link rel="shortcut icon" href="/images/logo.png" type="image/svg" />

    <link rel="stylesheet" href="/css/slick.css" />

    <link rel="stylesheet" href="/css/animate.css" />

    <link rel="stylesheet" href="/css/nice-select.css" />

    <link rel="stylesheet" href="/css/jquery.nice-number.min.css" />

    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/css/default.css" />

    <link rel="stylesheet" href="/css/style.css" />

    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
</html>

<body>
