<body>
  <div class="preloader">
    <div class="loader rubix-cube">
      <div class="layer layer-1"></div>
      <div class="layer layer-2"></div>
      <div class="layer layer-3 color-1"></div>
      <div class="layer layer-4"></div>
      <div class="layer layer-5"></div>
      <div class="layer layer-6"></div>
      <div class="layer layer-7"></div>
      <div class="layer layer-8"></div>
    </div>
  </div>

  <header id="header-part">
    <div class="header-top d-none d-lg-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="header-contact text-lg-left text-center">
              <ul>
                <li>
                  <i class="fa fa-envelope h-10 w-10 text-white"></i
                  ><span>info@prei.pk</span>
                </li>
                <li>
                  <i class="fa fa-phone h-10 w-10 text-white"></i
                  ><span>+92 4235712392</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-logo-support pt-30 pb-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="logo">
              <a href="/">
                <img
                  style="width: 10rem"
                  src="/images/logo.png"
                  alt="PREI Logo"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="support-button float-right d-none d-md-block">
              <div class="button float-left">
                <a href="/register" class="main-btn">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navigation">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-9 col-8">
            <nav class="navbar navbar-expand-lg">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <div
                class="collapse navbar-collapse sub-menu-bar"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="<%= navStatusHome %>" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="<%= navStatusAbout %>" href="/about">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="<%= navStatusCourses %>" href="/courses"
                      >Courses</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-4">
            <div class="right-icon text-right">
              <ul>
                <li id="nav-login">
                  <a href="/#about-part">Login <i class="fa fa-sign-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="search-box">
    <div class="serach-form">
      <div class="closebtn">
        <span></span>
        <span></span>
      </div>
      <form action="#">
        <input type="text" placeholder="Search by keyword" />
        <button><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</body>
